# Files
*.o
*.rpt
*.out
*.csv
*.zip
*.out
*.so
*.png
*.mod
*.mod0
*log*
*.[0-9]*
*.txt
*_output

# Dependencies
cmake*
opencoarray*
mpich*
dependencies
json-fortran

# Executable
SWMM

# Directories
interface/src
debug*
tests/*
!tests/test*
.vscode
swmm5_output
test_cases/C_Conduit/c_Preissmann_slot_cases/Malekpour_Cases/Malekpour_analytical_test_case.inp
test_cases/TRBs_IC/*
