# Files
*.o
*.rpt
*.out
*.csv
*.zip
*.out
*.so
*.png
*.mod
*.mod0
*log*
*.[0-9]

# Dependencies
cmake*
opencoarray*
mpich*
dependencies
json-fortran

# Executable
SWMM

# Directories
interface/src
debug
tests/*
!tests/test*
.vscode