# Files
*.o
*.rpt
*.out
*.spt
*.csv
*.zip
*.so
*.png
*.mod
*.mod0
*log*
*.[0-9]*
*.txt
*_output

# Dependencies
cmake*
opencoarray*
mpich*
dependencies
json-fortran

# Executable
SWMM

# Directories
interface/src
debug*
tests/*
!tests/test*
.vscode
swmm5_output